
    <!-- End Navbar -->
    <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/Recycli/thomas-lipke-R6hLDSXpw3Y-unsplash.jpg');">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                    <h1 class="title">Kontakta oss</h1>
                    <h3 class="description">Har du problem med något?</h3>
					<h3 class="description">Vi hjälper dig gärna!</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="section section text-center landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="col-md-10 ml-auto mr-auto text-center">
                            <h2 class="title">Kom i kontakt med oss!</h2>
                            <p>Genom att du delar med dig om dina tankar eller dina problem, kan vi lösa de tillsammans och samtidigt hjälper du oss att förbättra vår pågående verksamhet.</p>
                        </div>
                        <div class="col-md-10 ml-auto mr-auto text-center">
                            &nbsp;
                        </div>
                        <br />   
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
        <div class="section section-recycli text-center landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <h2 class="title">Vi svarar snabbast på mejl</h2>
                        <h5 class="title">Mejladress: recycli.uf@outlook.com</h5>
						<h5 class="title">Skicka gärna ett mejl till oss så svarar vi så snabbt vi kan!</h5>
						<h5 class="title">Tack!</h5>
                        <br />   
                    </div>
                </div>
            </div>
        </div>
        <div class="section section text-center landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="row">
                            <div class="col-md-6 ml-auto mr-auto text-center">
                                <h3 class="title"><small>Hitta oss på sociala nätverk</small></h3>
                                <button class="btn btn-just-icon btn-facebook mr-1">
                                    <i class="fa fa-facebook"></i>
                                </button>
                                <button class="btn btn-just-icon btn-google mr-1">
                                    <i class="fa fa-google"></i>
                                </button>
                                <button class="btn btn-just-icon btn-instagram mr-1">
                                    <i class="fa fa-instagram"></i>
                                </button>
                                <button class="btn btn-just-icon btn-youtube">
                                    <i class="fa fa-youtube"></i>
                                </button>
                            </div>
                        </div>
                        
                            <br />    
                        </div>
                </div>
            </div>
        </div>


        <footer class="footer section-dark">
            <div class="container">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li><a [routerLink]="['/home']">Recycli</a></li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
                        <span class="copyright">
                            &copy; {{data | date: 'yyyy'}},
                            Recycli 
                        </span>
                    </div>
                </div>
            </div>
        </footer>