
    <!-- End Navbar -->
    <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/Recycli/away-3024773_1920.jpg');">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                    <h1 class="title"> Hur går tjänsten till?</h1>
                    <h3 class="description">Hur mycket återvinning per gång?</h3>
					<h3 class="description">Vad kan ni återvinna åt oss?</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-blog">
        <div class="container">
            <div class="row">
                 <div class="col-md-4">
                     <div class="card card-blog">
                         <div class="card-image">
                             <a href="javascript:void(0)">
                                 <img class="img img-raised" src="./assets/img/Recycli/recycle-237874_1920.jpg">
                             </a>
                         </div>
                         <div class="card-body">
                             <h6 class="card-category text-recycli">Recycli</h6>
                             <h5 class="card-title">
                                 <a href="javascript:void(0)">Vad kan vi återvinna?</a>
                             </h5>
                             <p class="card-description">
                                 Med vår tjänst hjälper vi dig med din hushållsåtervinning i form av kartonger, plast, glas, metallburkar, tidningar, kuvert och mer återvinningsmaterial som går att återvinna på en vanlig kommunal återvinningsstation.  <br>
                             </p>
                             <hr>
                             <div class="card-footer">
                                 <div class="author">
                                     <a href="javascript:void(0)">
                                        
                                        <span></span>
                                     </a>
                                 </div>
                                 <div class="stats">
                                         
                                     </div>
                             </div>
                         </div>
                     </div>
                 </div>
 
                 <div class="col-md-4">
                     <div class="card card-blog">
                         <div class="card-image">
                             <a href="javascript:void(0)">
                                 <img class="img img-raised" src="./assets/img/Recycli/glass-255281_1920.jpg">
                             </a>
                         </div>
                         <div class="card-body">
                             <h6 class="card-category text-recycli">
                                 Recycli
                             </h6>
                             <h5 class="card-title">
                                 <a href="javascript:void(0)">Hur mycket återvinning tar ni emot per upphämtning?</a>
                             </h5>
                             <p class="card-description">
                                 Vid varje upphämtningstillfälle tar vi emot upp till 4 påsar med återvinningsmaterial. Vad som definerar en påse är en vanlig påse som du använder i mataffären. <br>
                             </p>
                             <hr>
                             <div class="card-footer">
                                 <div class="author">
                                     <a href="javascript:void(0)">
                                        
                                        <span></span>
                                     </a>
                                 </div>
                                 <div class="stats">
                                         
                                     </div>
                             </div>
                         </div>
                     </div>
                 </div>
 
                 <div class="col-md-4">
                     <div class="card card-blog">
                         <div class="card-image">
                             <a href="javascript:void(0)">
                                 <img class="img img-raised" src="./assets/img/Recycli/plastic-bottles-115071_1920.jpg">
                             </a>
                         </div>
 
                         <div class="card-body">
                             <h6 class="card-category text-recycli">
                                 <i></i> Recycli
                             </h6>
                             <h5 class="card-title">
                                 <a href="javascript:void(0)">Vad händer med påsarna när ni har återvunnit?</a>
                             </h5>
                             <p class="card-description">
                                 Påsarna kommer att retuneras till kunden och efter det är upphämtningen avslutad. Om påsarna är kladdiga eller smutsiga tar vi inte ansvar för att tvätta ur dem. <br>
                             </p>
                             <hr>
                             <div class="card-footer">
                                 <div class="author">
                                     <a href="javascript:void(0)">
                                     </a>
                                 </div>
                                 <div class="stats">
                                     </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
        <div class="section section-blog">
            <div class="container">
                <div class="row">
                     <div class="col-md-4">
                         <div class="card card-blog">
                             <div class="card-image">
                                 <a href="javascript:void(0)">
                                     <img class="img img-raised" src="./assets/img/Recycli/recycle-57136_1920.jpg">
                                 </a>
                             </div>
                             <div class="card-body">
                                 <h6 class="card-category text-recycli">Recycli</h6>
                                 <h5 class="card-title">
                                     <a href="javascript:void(0)">Vad händer med återvinningen?</a>
                                 </h5>
                                 <p class="card-description">
                                     Återvinningen återvinns på en återvinningsstation i Vellinge kommun för att återanvända så mycket material som möjligt. Därav fortsätter kretsloppen och materialet kan användas igen. <br>
                                 </p>
                                 <hr>
                                 <div class="card-footer">
                                     <div class="author">
                                         <a href="javascript:void(0)">
                                         </a>
                                     </div>
                                     <div class="stats">
                                         </div>
                                 </div>
                             </div>
                         </div>
                     </div>
     
                     <div class="col-md-4">
                         <div class="card card-blog">
                             <div class="card-image">
                                 <a href="javascript:void(0)">
                                     <img class="img img-raised" src="./assets/img/Recycli/calendar-1990453_1920.jpg">
                                 </a>
                             </div>
                             <div class="card-body">
                                 <h6 class="card-category text-recycli">
                                     Recycli
                                 </h6>
                                 <h5 class="card-title">
                                     <a href="javascript:void(0)">När börjar min bokning att gälla?</a>
                                 </h5>
                                 <p class="card-description">
                                     Din bokning börjar gälla veckan efter du bokade ditt upphämtningsschema. Då får vi lite tid till att planera och ha en god framförhållning i vårt schema. <br>
                                 </p>
                                 <hr>
                                 <div class="card-footer">
                                     <div class="author">
                                         <a href="javascript:void(0)">
                                         </a>
                                     </div>
                                     <div class="stats">
                                         </div>
                                 </div>
                             </div>
                         </div>
                     </div>
     
                     <div class="col-md-4">
                         <div class="card card-blog">
                             <div class="card-image">
                                 <a href="javascript:void(0)">
                                     <img class="img img-raised" src="./assets/img/Recycli/Vellinge.jpg">
                                 </a>
                             </div>
     
                             <div class="card-body">
                                 <h6 class="card-category text-recycli">
                                     <i></i> Recycli
                                 </h6>
                                 <h5 class="card-title">
                                     <a href="javascript:void(0)">Hur betalar jag min upphämtning?</a>
                                 </h5>
                                 <p class="card-description">
                                     Du betalar din upphämtning genom att swisha till: 0721-80 32 41. I Swishappen anger du sedan exakta tidpunkten och datum vid upphämtning i textrutan. <br>
                                 </p>
                                 <hr>
                                 <div class="card-footer">
                                     <div class="author">
                                         <a href="javascript:void(0)">
                                         </a>
                                     </div>
                                     <div class="stats">
                                         </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>

        <footer class="footer section-dark">
            <div class="container">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li><a [routerLink]="['/home']">Recycli</a></li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
                        <span class="copyright">
                            &copy; {{data | date: 'yyyy'}},
                            Recycli 
                        </span>
                    </div>
                </div>
            </div>
        </footer>
