<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/Recycli/noah-buscher-x8ZStukS2PM-unsplash.jpg');">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="motto">
                <h1 class="title">Vi är Recycli!</h1>
                <h3 class="description">Läs mer om oss och vem vi är och vad vi arbetar mot</h3>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
<div class="main">
<div class="section">
    <div class="container">
        <h2 class="title-uppercase">Värderingar</h2>
        <p> </p>
        <h6>Gemenskap</h6>
        <p>Vi arbetar för en gemensam framtid där alla hjälps åt att skapa en ekologisk hållbar framtid för generationerna som kommer framöver. </p>
        <p> </p>
        <h6>Utveckling</h6>
        <p>Med utveckling vill vi ha en positiv utveckling för att växa och expandera vårt avtryck på klimatet positivt. Det finns många utvecklingsområden för oss och vi arbetar ständigt för att utveckla oss så gott det går.</p>
        <p> </p>
        <h6>Hållbar Framtid</h6>
        <p>En hållbar framtid är viktigt för oss för att kunna säkerställa en framtid för oss och för framtida generationer. Dagens utveckling är inte hållbar och vi vill göra vårt yttersta för att jobba oss framåt mot en positiv utveckling.</p>
        <p> </p>
        <h6>Klimatet</h6>
        <p>Med klimatet i fokus, vill vi förbättra miljön för framtiden samt hjälpa till och rensa upp skräpet som slängs där det inte hör hemma. Genom återvinning kan vi återanvända redan utvunna råvaror för att förlänga vår tid här på jorden.</p>
        <p> </p>
        

        <h2 class="title-uppercase">CSR, Corporate Social Responsibility</h2>
        <div class="col-md-8">
            <p>Vi arbetar med hållbarhet genom att arbeta med våra värderingar. Våra värderingar nämner att vi alla ska ha samma rättigheter, det ska vara rättvist, och att vi ska kunna lita på varandra. Hållbarhet är inte bara klimatet, det är även social hållbarhet samt ekonomisk hållbarhet.</p> 
                <p>För att upprätthålla den sociala hållbarheten vill vi visa på att alla har samma rättigheter oavsett var de kommer ifrån, eller vad de identifierar sig som. Vi på Recycli UF står vid de mänskliga rättigheterna och gör vårt yttersta för att säkerställa att de upprätthålls.</p> 
                <p>Klimatet är en viktig del för oss eftersom utan den ekologiska hållbarheten, finns det ingen framtid för oss att gå på. Utan ett fungerande klimat så finns där inget att ta del av. Det är därför vi jobbar för att säkerställa att där finns ett klimat att gå på, att se på och att känna på. Det är vårt ansvar som ett företag att säkerställa framtiden för framtida generationer samt framtida företag som ska bedriva sin verksamhet här på vår marknad.</p> 
                <p>På Recycli UF strävar vi efter lönsamhet för att underlätta de andra hållbarhetsfaktorerna. Genom lönsamhet kan vi arbeta effektivt, hållbart och smartare. För att bedriva företag hållbart, sparar vi pengar och ökar vår lönsamhet och därav strävar vi efter att arbeta hållbart.</p>

        </div>
        <h2 class="text-center creators">Grundare</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-body">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="...">
                            </a>
                        </div>
                        <h4>Noah Lindros</h4>
                        <p class="card-description text-center">
                            De egenskaper Noah har är att han är en naturlig ledare, hårt arbetande och med hög entusiasm har lätt för att uppnå sina mål. Med tidigare erfarenheter i webbdesign och marknadsföring, är marknadsföring även ett fokusområde som Noah kommer ha koll på.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://www.facebook.com/Recycliuf" class="btn btn-just-icon btn-facebook mr-1"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/recycliuf/" class="btn btn-just-icon btn-pink"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="card-body">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img src="./assets/img/faces/joe-gardner-2.jpg" alt="...">
                            </a>
                        </div>
                        <h4>Demmie Hellberg Sunnanväder</h4>
                        <p class="card-description text-center">
                            Just nu går hon ekonomiprogrammet på Sundsgymnasiet med inriktningen controller. Därför föll det naturligt att hon skulle ta hand om denna roll i företaget. Egenskaper Demmie besitter är ordentlighet, noggrannhet, kreativitet, hård arbetare och  entusiasisk.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://www.facebook.com/Recycliuf" class="btn btn-just-icon btn-facebook mr-1"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/recycliuf/" class="btn btn-just-icon btn-pink"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>


        <div class="row coloured-cards col-md-12">
            <div class="col-md-4 col-sm-4">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                        <div class="card-body">
                            <h6 class="card-category">Vision</h6>
                            <h4 class="card-title"><a href="javascript:void(0)">Mål i verksamheten</a></h4>
                            <p class="card-description">Vår primära vision är att utveckla ett professionellt och förtroendegivande rykte. Våra kundrelationer är alla unika och oerhört betydliga för oss. De personer som väljer att samarbeta med oss mot en grönare framtid ligger vårt företag närmast. </p>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                        <div class="card-body">
                            <h6 class="card-category">Affärsidé</h6>
                            <h4 class="card-title"><a href="javascript:void(0)">idéer för framtiden</a></h4>
                            <p class="card-description">Vi hjälper till med återvinning för dem som inte har tid, orken eller lusten. Vi erbjuder en tjänst där vi hämtar diverse återvinningsmaterial hos våra kunder och därefter återvinner detta. </p>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                        <div class="card-body">
                            <h6 class="card-category">Verksamhetsområde</h6>
                            <h4 class="card-title"><a href="javascript:void(0)">Vellinge kommun</a></h4>
                            <p class="card-description"> I nuläget är Vellinge kommun vårt primära verksamhetsområde eftersom vi båda är folkbokförda inom Vellinge kommun och därav kom det naturligt att Vellinge kommun ska vara vårt verksamhetsområde. </p>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<footer class="footer section-dark">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a [routerLink]="['/home']">Recycli</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    &copy; {{data | date: 'yyyy'}},
                    Recycli 
                </span>
            </div>
        </div>
    </div>
</footer>
