<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/Recycli/boxed-water-is-better-LWagu5WepHU-unsplash.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-7 col-12 ml-auto">
                        <div class="info info-horizontal">
                            <div class="icon">
                                <i class="fa fa-umbrella"></i>
                            </div>
                            <div class="description">
                                <h3> Vi hämtar, i både vått och torrt </h3>
                                <p>Oavsett väder så gör vi allt för att underlätta för dig. Ställ din återvinning, med enkelhet, utanför din bostad för att minimera fysisk kontakt.</p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon">
                                <i class="fa fa-map-signs"></i>
                            </div>
                            <div class="description">
                                <h3> Tydliga riktlinjer </h3>
                                <p>Hos oss på Recycli vill vi underlätta för dig som privatperson genom att göra de sysslor som du kanske inte orkar ta itu med. Med enkla steg gör vi det åt det.</p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon">
                                <i class="fa fa-user-secret"></i>
                            </div>
                            <div class="description">
                                <h3> Vi tar hand om dina personuppgifter </h3>
                                <p>Dina personuppgifter är säkra hos oss. Allt vi behöver från dig är din Email och ditt telefonnummer samt ditt namn för att underlätta för oss när vi vill ta kontakt med dig.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-5 col-12 mr-auto">
                        <div class="card card-register">
                            <h3 class="card-title text-center">Registrera dig</h3>
                            <div class="social">
                                <button href="javascript:void(0)" class="btn btn-just-icon btn-facebook mr-1"><i class="fa fa-facebook"></i></button>
                                <button href="javascript:void(0)" class="btn btn-just-icon btn-google mr-1"><i class="fa fa-google"></i></button>
                            </div>

                            <div class="division">
                                <div class="line l"></div>
                                <span>or</span>
                                <div class="line r"></div>
                            </div>
                            <form [formGroup]="signupForm" (ngSubmit)="onReactiveFormSubmit()">

                                <input formControlName="email" id="email" name="email" type="email" class="form-control" placeholder="Email">
                                <input formControlName="password" id="password" name="password" type="password" class="form-control" placeholder="Password">
                                <input formControlName="confirm" id="confirm" name="confirm" type="password" class="form-control" placeholder="Confirm password">

                                <button class="btn btn-recycli btn-block btn-round" type="submit" [disabled]="!signupForm.valid">Registrera</button>
                            </form>

                          
                            <br>
                            <div *ngIf="loginFailed" class="alert alert-danger fade show" role="alert">
                              <strong>Sign up failed</strong><br>
                              {{errorMessage}}
                            </div>
                

                            <div class="login">
                                <!-- Jag vill att texten ska vara grön istället för blå på "logga in" -->
                                <p>Har du redan ett konto? <a [routerLink]="['/login']" class="btn-link btn-recycli">Logga in</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="demo-footer text-center">
                <h6>&copy; {{data | date: 'yyyy'}}, Recycli</h6>
        </div>
    </div>
</div>

<footer class="footer section-dark">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a [routerLink]="['/home']">Recycli</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    &copy; {{data | date: 'yyyy'}},
                    Recycli 
                </span>
            </div>
        </div>
    </div>
</footer>
