<div class="page-header">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('./assets/img/sections/uriel-soberanes.jpg')">
  
    </div>
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="motto">
                  <h1 class="title">RecycliUF</h1>
                  <h3 class="description">Hjälp oss förbättra miljön, ett steg i taget!</h3>
                  <br />
              </div>
          </div>
      </div>
  
  </div>
  
  <div class="wrapper">
      <div class="section text-center landing-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                      <h2 class="title">Let's talk product</h2>
                      <h5>This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
                      <br />
                      <a href="javascript:void(0)" class="btn btn-danger btn-fill btn-round">See Details</a>
                  </div>
              </div>
              <br /><br />
              <div class="row">
                  <div class="col-md-3">
                      <div class="info">
                          <div class="icon icon-danger">
                              <i class="nc-icon nc-palette"></i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">Beautiful Gallery</h4>
                              <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="info">
                          <div class="icon icon-danger">
                              <i class="nc-icon nc-bulb-63"></i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">New Ideas</h4>
                              <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="info">
                          <div class="icon icon-danger">
                              <i class="nc-icon nc-chart-bar-32"></i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">Statistics</h4>
                              <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="info">
                          <div class="icon icon-danger">
                              <i class="nc-icon nc-sun-fog-29"></i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">Delightful design</h4>
                              <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                          </div>
                      </div>
                  </div>
              </div>
  
          </div>
      </div>
  
      <div class="section section-recycli-green text-center landing-section">
          <div class="container"> 
              <h2 class="title">Lite om oss på Recycli</h2>
              <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                      <div class="card card-profile card-plain">
                          <div class="card-avatar">
                              <a href="#avatar"><img src="./assets/img/homer-simpson.png" alt="..."></a>
                          </div>
                          <div class="card-body">
                              <a href="javascript:void(0)">
                                  <div class="author">
                                      <h4 class="card-title">Noah Lindros</h4>
                                      <h6 class="card-category text-muted">VD</h6>
                                  </div>
                              </a>
                              <p class="card-description text-center">
                              ...
                              </p>
                          </div>
                          <div class="card-footer text-center">
                              <a href="javascript:void(0)" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                              <a href="javascript:void(0)" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                              <a href="javascript:void(0)" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="col-md-4">
                      <div class="card card-profile card-plain">
                          <div class="card-avatar">
                              <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                          </div>
                          <div class="card-body">
                              <a href="javascript:void(0)">
                                  <div class="author">
                                      <h4 class="card-title">Demmie Sunnanväder Hellberg</h4>
                                      <h6 class="card-category text-muted">Ekonomiansvarig</h6>
                                  </div>
                              </a>
                              <p class="card-description text-center">
                             ...
                              </p>
                          </div>
                          <div class="card-footer text-center">
                              <a href="javascript:void(0)" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                              <a href="javascript:void(0)" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                              <a href="javascript:void(0)" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2"></div>

              </div>
          </div>
      </div>
  
      <div class="section landing-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                      <h2 class="text-center">Keep in touch?</h2>
                      <form class="contact-form">
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Name</label>
                                  <input class="form-control" placeholder="Name">
                              </div>
                              <div class="col-md-6">
                                  <label>Email</label>
                                  <input class="form-control" placeholder="Email">
                              </div>
                          </div>
                          <label>Message</label>
                          <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                          <div class="row">
                              <div class="col-md-4 offset-md-4">
                                  <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <footer class="footer section-dark">
      <div class="container">
          <div class="row">
              <nav class="footer-nav">
                  <ul>
                      <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                      <li><a href="http://blog.creative-tim.com">Blog</a></li>
                      <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                  </ul>
              </nav>
              <div class="credits ml-auto">
                  <span class="copyright">
                      © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim
                  </span>
              </div>
          </div>
      </div>
  </footer>
  