<div class="page-header">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('./assets/img/Recycli/pawel-czerwinski-RkIsyD_AVvc-unsplash.jpg')">
  
    </div>
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="motto">
                  <h1 class="title">RecycliUF</h1>
                  <h3 class="description">Hjälp oss förbättra miljön, ett steg i taget!</h3>
                  <br />
              </div>
          </div>
      </div>
  
  </div>
  
  <div class="wrapper">
      <div class="section text-center landing-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                      <h2 class="title">Återvinna?!?</h2>
                      <h5>Varför är det bra att återvinna? Återvinning är ett steg i rätt riktning när det kommer till att försöka rädda vår planet genom att återanvända de förbrukningsvaror som redan finns i omloppet idag. Genom återvinning, kan vi göra nya produkter av redan använt källmaterial och på sådant sätt räddar vi planeten ett steg i taget.</h5>
                      <br />
                  </div>
              </div>
              <br /><br />
              <div class="row">
                  <div class="col-md-3">
                      <div class="info">
                          <div class="icon icon-recycli">
                              <i class="nc-icon nc-world-2"></i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">Återvinning</h4>
                              <p class="description">Läs mer om återvinning och varför det är bra för oss på sopor.nu.</p>
                              <a href="https://www.sopor.nu/fakta-om-sopor/varfoer-ska-jag-sortera/spara-energi-och-resurser/" class="btn btn-link btn-recycli">Se mer</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="info">
                          <div class="icon icon-recycli">
                              <i class="nc-icon nc-money-coins"></i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">Bokning</h4>
                              <p>Du bokar enkelt upphämtning genom att logga in på vår hemsida.</p>
                              <a [routerLink]="['/login']" class="btn btn-link btn-recycli">Se mer</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="info">
                          <div class="icon icon-recycli">
                              <i class="nc-icon nc-email-85"></i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">Kontakta oss</h4>
                              <p>Har du ett problem eller vill du ge feedback på vår tjänst? skriv till oss nedan!</p>
                              <a [routerLink]="['/contactus']" class="btn btn-link btn-recycli">Se mer</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="info">
                          <div class="icon icon-recycli">
                              <i class="nc-icon nc-book-bookmark"></i>
                          </div>
                          <div class="description">
                              <h4 class="info-title">Läs mer om oss</h4>
                              <p>Läs mer om vem vi är och hur vår vision för framtidens generationer ser ut.</p>
                              <a [routerLink]="['/about']" class="btn btn-link btn-recycli">Se mer</a>
                          </div>
                      </div>
                  </div>
              </div>
  
          </div>
      </div>
  
      <div class="section section-recycli text-center landing-section">
          <div class="container"> 
              <h2 class="title">Lite om oss på Recycli</h2>
              <div class="row">
                  <div class="col-md-6">
                      <div class="card card-profile card-plain">
                          <div class="card-avatar">
                              <a href="#avatar"><img src="./assets/img/Recycli/x.png" alt="..."></a>
                          </div>
                          <div class="card-body">
                              <a href="javascript:void(0)">
                                  <div class="author">
                                      <h4 class="card-title">Noah Lindros</h4>
                                      <h6 class="card-category text-muted">VD</h6>
                                  </div>
                              </a>
                              <p class="card-description text-center">
                              ...
                              </p>
                          </div>
                          <div class="card-footer text-center">
                              <a href="https://www.instagram.com/recycliuf/" class="btn btn-link btn-just-icon btn-pink"><i class="fa fa-instagram"></i></a>
                              <a href="https://www.facebook.com/Recycliuf" class="btn btn-link btn-just-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="col-md-6">
                      <div class="card card-profile card-plain">
                          <div class="card-avatar">
                              <a href="#avatar"><img src="./assets/img/Recycli/x.png" alt="..."></a>
                          </div>
                          <div class="card-body">
                              <a href="javascript:void(0)">
                                  <div class="author">
                                      <h4 class="card-title">Demmie Sunnanväder Hellberg</h4>
                                      <h6 class="card-category text-muted">Ekonomiansvarig</h6>
                                  </div>
                              </a>
                              <p class="card-description text-center">
                             ...
                              </p>
                          </div>
                          <div class="card-footer text-center">
                              <a href="https://www.instagram.com/recycliuf/" class="btn btn-link btn-just-icon btn-pink"><i class="fa fa-instagram"></i></a>
                              <a href="https://www.facebook.com/Recycliuf" class="btn btn-link btn-just-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                          </div>
                      </div>
                  </div>
                    <a class="btn btn-round btn-white" [routerLink]="['/about']">
                        <i class="nc-icon nc-bookmark"></i> Om oss
                    </a> 
              </div>
          </div>
      </div>
  </div>
  <footer class="footer section-dark">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a [routerLink]="['/home']">Recycli</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    &copy; {{data | date: 'yyyy'}},
                    Recycli 
                </span>
            </div>
        </div>
    </div>
</footer>