<div class="wrapper">
    <div class="page-header"
        style="background-image: url('./assets/img/Recycli/avenue-2215317_1920.jpg');">
        <div class="filter"></div>

        <div class="content-center">
            <div class="container">
                <div class="motto">
                    <h1 class="title">RecycliUF</h1>
                    <h3 class="description">Hjälp oss förbättra miljön, ett steg i taget!</h3>
                    <h1> </h1>
                    <div class="row" *ngIf="(pickupList) && (pickupList.length == 0)">
                        <div class="col-md-4 ml-auto mr-auto">
                            <button class="btn btn-recycli btn-block btn-round" (click)="onCreateNew()">Skapa
                                upphämtning</button>
                        </div>
                    </div>
                    <div class="row" *ngIf="(pickupList) && (pickupList.length > 0)">
                        <div class="col-md-4 ml-auto mr-auto">
                            <button class="btn btn-recycli btn-block btn-round" (click)="scroll(target)">Gå till din upphämtning</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        


    </div>


    <div class="wrapper">
        <div #target class="section landing-section">



            <div class="container col-md-6">

                <div class="row text-center">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Beställda upphämtningar</h2>
                        <h5> </h5>
                        <br />
                    </div>
                </div>
  

                <div *ngFor="let pickup of pickupList" class="card">
                    <div class="card-header">
                        Bokad upphämtning - {{ getPickupName(pickup.ScheduledPickupKey) || async}}

                        <button type="button" ngbTooltip="Ta bort" class="pull-right btn btn-danger btn-link btn-sm" (click)="onRemovePickup(pickup)">
                            <i class="fa fa-times"></i>
                        </button>

                    </div>

                    <div class="card-body card-presentation">
                        <h5><strong>{{pickup.Name}}</strong></h5>
                        <p class="text-style">
                            {{pickup.Address1}}
                        </p>

                        <p class="text-style">
                            {{pickup.Adress2}}
                        </p>

                        <p class="text-style">
                            {{pickup.Zip}}
                        </p>

                        <p class="text-style">
                            {{pickup.City}}
                        </p>

                        <p class="text-style">
                            {{pickup.Phone}}
                        </p>

                        <p class="text-style">
                            {{pickup.PickupDay}}
                        </p>

                        <button type="button" class="pull-right btn btn-success btn-just-icon btn-sm mr-1" (click)="onPerformedPickup(pickup)"><i class="fa fa-check"></i></button>

                        
                        
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4 ml-auto mr-auto">
                        <button class="btn btn-recycli btn-block btn-round" (click)="onCreateNew()">Skapa ny
                            upphämtning</button>
                    </div>
                </div>

            </div>

        </div>

        <div class="section section-recycli landing-section">



            <div class="container col-md-6">

                <div class="row text-center">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Utförda upphämtningar</h2>
                        <h5> </h5>
                        <br />
                    </div>
                </div>
  

                <div *ngFor="let performedPickup of performedPickupList" class="card">
                    <div class="card-header">
                        Uförd upphämtning - {{performedPickup.PerformedTimestamp | date:'yyyy-MM-dd HH:mm:ss' }} av {{performedPickup.PerformedByWho}}
                    </div>

                    <div class="card-body card-presentation">
                        <h5><strong>{{performedPickup.Name}}</strong></h5>
                        <p class="text-style">
                            {{performedPickup.Address1}}
                        </p>

                        <p class="text-style">
                            {{performedPickup.Adress2}}
                        </p>

                        <p class="text-style">
                            {{performedPickup.Zip}}
                        </p>

                        <p class="text-style">
                            {{performedPickup.City}}
                        </p>

                        <p class="text-style">
                            {{performedPickup.Phone}}
                        </p>

                        <p class="text-style">
                            {{performedPickup.PickupDay}}
                        </p>

                        

                        
                        
                    </div>

                </div>


            </div>

        </div>

        <div class="section section landing-section">



            <div class="container col-md-6">

                <div class="row text-center">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Betalda upphämtningar</h2>
                        <h5> </h5>
                        <br />
                    </div>
                </div>
  

                <div *ngFor="let payedPickup of payedPickupList" class="card">
                    <div class="card-header">
                        Uförd upphämtning - {{payedPickup.PerformedTimestamp | date:'yyyy-MM-dd HH:mm:ss' }} av {{payedPickup.PerformedByWho}}
                    </div>

                    <div class="card-body card-presentation">
                        <h5><strong>{{payedPickup.Name}}</strong></h5>
                        <p class="text-style">
                            {{payedPickup.Address1}}
                        </p>

                        <p class="text-style">
                            {{payedPickup.Adress2}}
                        </p>

                        <p class="text-style">
                            {{payedPickup.Zip}}
                        </p>

                        <p class="text-style">
                            {{payedPickup.City}}
                        </p>

                        <p class="text-style">
                            {{payedPickup.Phone}}
                        </p>

                        <p class="text-style">
                            {{payedPickup.PickupDay}}
                        </p>

                        

                        
                        
                    </div>

                </div>


            </div>

        </div>
    </div>

</div>


<footer class="footer section-dark">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a [routerLink]="['/home']">Recycli</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    &copy; {{data | date: 'yyyy'}},
                    Recycli
                </span>
            </div>
        </div>
    </div>
</footer>