<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/Recycli/jonathan-chng-OTDyDgPoJ_0-unsplash.jpg');">
        <div class="filter"></div>
          <div class="content-center">
            <div class="container">
                <div class="motto">
                    <h1 class="title">Upphämtning</h1>
                    <h3 class="description">Boka dina upphämtningar</h3>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="section text-center landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Återvinna?!?</h2> 
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer section-dark">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a [routerLink]="['/home']">Recycli</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    &copy; {{data | date: 'yyyy'}},
                    Recycli 
                </span>
            </div>
        </div>
    </div>
</footer>