<div class="wrapper">
    <div class="page-header"
        style="background-image: url('./assets/img/Recycli/avenue-2215317_1920.jpg');">
        <div class="filter"></div>

        <div class="content-center">
            <div class="container">
                <div class="motto">
                    <h1 class="title">Beställda hämtningar</h1>
                    <h3 class="description"></h3>
                    <h1> </h1>                    
                </div>
            </div>
        </div>
    </div>


    <div class="wrapper">
        <div #target class="section landing-section">
            <div class="container col-md-6">

                <div class="row text-center">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Beställda hämtningar</h2>
                        <h5> </h5>
                        <br />
                    </div>
                </div>

                <div class="row">
                    <div *ngFor="let pickup of pickupList" class="card col-md-6">
                        
                        

                            <div class="card-header">
                                Bokad upphämtning - {{ getPickupName(pickup.ScheduledPickupKey) || async}}
        
                            </div>
        
                            <div class="card-body card-presentation">
                                <h5><strong>{{pickup.Name}}</strong></h5>
                                <p class="text-style">
                                    {{pickup.Address1}}
                                </p>
        
                                <p class="text-style">
                                    {{pickup.Adress2}}
                                </p>
        
                                <p class="text-style">
                                    {{pickup.Zip}}
                                </p>
        
                                <p class="text-style">
                                    {{pickup.City}}
                                </p>
        
                                <p class="text-style">
                                    {{pickup.Phone}}
                                </p>
        
                                <p class="text-style">
                                    {{pickup.PickupDay}}
                                </p>
        
        
        
                            </div>
                    
                                
    
                    </div>
    
                </div>

            </div>
        </div>
    </div>
</div>


<footer class="footer section-dark">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a [routerLink]="['/home']">Recycli</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    &copy; {{data | date: 'yyyy'}},
                    Recycli
                </span>
            </div>
        </div>
    </div>
</footer>