<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/Recycli/jonathan-chng-OTDyDgPoJ_0-unsplash.jpg');">
        <div class="filter"></div>
          <div class="content-center">
            <div class="container">
                <div class="motto">
                    <h1 class="title">Dashboard</h1>
                    <h3 class="description">Kolla dina aktiva bokningar samt om dina bokningar är betalda</h3>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<h2> </h2>
<h2> </h2>
<div class="row coloured-cards">
    <div class="col-md-4 col-sm-6">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                <div class="card-body">
                    <h6 class="card-category">Vision</h6>
                    <h4 class="card-title"><a href="javascript:void(0)">Mål i verksamheten</a></h4>
                    <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                <div class="card-body">
                    <h6 class="card-category">Affärsidé</h6>
                    <h4 class="card-title"><a href="javascript:void(0)">idéer för framtiden</a></h4>
                    <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                <div class="card-body">
                    <h6 class="card-category">Verksamhetsområde</h6>
                    <h4 class="card-title"><a href="javascript:void(0)">Vellinge kommun</a></h4>
                    <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
</div>
<h2> </h2>
<h2> </h2>
<div class="row coloured-cards">
    <div class="col-md-4 col-sm-6">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                <div class="card-body">
                    <h6 class="card-category">Vision</h6>
                    <h4 class="card-title"><a href="javascript:void(0)">Mål i verksamheten</a></h4>
                    <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                <div class="card-body">
                    <h6 class="card-category">Affärsidé</h6>
                    <h4 class="card-title"><a href="javascript:void(0)">idéer för framtiden</a></h4>
                    <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                <div class="card-body">
                    <h6 class="card-category">Verksamhetsområde</h6>
                    <h4 class="card-title"><a href="javascript:void(0)">Vellinge kommun</a></h4>
                    <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
</div>
<h2> </h2>
<h2> </h2>
<div class="row coloured-cards">
    <div class="col-md-4 col-sm-6">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                <div class="card-body">
                    <h6 class="card-category">Vision</h6>
                    <h4 class="card-title"><a href="javascript:void(0)">Mål i verksamheten</a></h4>
                    <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                <div class="card-body">
                    <h6 class="card-category">Affärsidé</h6>
                    <h4 class="card-title"><a href="javascript:void(0)">idéer för framtiden</a></h4>
                    <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                <div class="card-body">
                    <h6 class="card-category">Verksamhetsområde</h6>
                    <h4 class="card-title"><a href="javascript:void(0)">Vellinge kommun</a></h4>
                    <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>
</div>
<footer class="footer section-dark">
<div class="container">
<div class="row">
    <nav class="footer-nav">
        <ul>
            <li><a [routerLink]="['/home']">Recycli</a></li>
        </ul>
    </nav>
    <div class="credits ml-auto">
        <span class="copyright">
            &copy; {{data | date: 'yyyy'}},
            Recycli 
        </span>
    </div>
</div>
</div>
</footer>
