<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/Recycli/bank-3362477_1920.jpg');">
        <div class="filter"></div>
          <div class="content-center">
            <div class="container">
                <div class="motto">
                    <h1 class="title">Dashboard</h1>
                    <h3 class="description">Kolla dina aktiva bokningar samt om dina bokningar är betalda</h3>
                    <br />
                    <div class="row" *ngIf="(pickupList) && (pickupList.length == 0)">
                        <div class="col-md-4 ml-auto mr-auto">
                            <button class="btn btn-recycli btn-block btn-round" (click)="onCreateNew()">Skapa
                                upphämtning</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-gray" id="cards">
        <div class="container tim-container">
            <div class="title">
                <h2>Dashboard</h2>
            </div>
            <h4 class="title"></h4>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="javascript:void(0)">
                                <img class="img" src="assets/img/sections/neill-kumar.jpg">
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title">
                                Vill du boka en upphämtning?
                            </h4>
                            <div class="card-description">
                                Vill du boka en ny upphämtning eller se dina pågående upphämtningar? Klicka på knappen nedan för att komma dit!
                            </div>
                            <div class="card-footer">
                                <a href="javascript:void(0)" class="btn btn-recycli btn-round">Upphämtning</a>
                            </div>
                        </div>
                    </div>

                    <div class="card" data-color="purple" data-background="color">
                        <div class="card-body text-center">
                            <h6 class="card-category">
                                <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
                            </h6>
                            <h5 class="card-title">
                                <a href="javascript:void(0)">Följ oss på instagram för uppdateringar</a>
                            </h5>
                            <p class="card-description">
                                Genom att följa oss på instagram får du uppdateringar om tjänsten och annat kul om miljön! Klicka på knappen nedan för att komma till vår instagram! Vi har även Facebook för er som föredrar det.
                            </p>
                            <div class="card-footer text-center">
                                <a href="javascript:void(0)" class="btn btn-neutral btn-round"><i class="fa fa-instagram"></i>Instagram</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h6 class="author pull-left">Har du betalt?</h6>
                            <span class="category-social text-info pull-right">
                                <div class="stats">
                                <i class="nc-icon nc-money-coins"></i>
                                </div>
                            </span>
                            <div class="clearfix"></div>
                            <p class="card-description">
                               För att betala dina upphämtningar skannar du enkelt QR koden från swish där det står "Noah Lindros" som mottagare. Eftersom vi är ett UF företag räknas vi inte som ett vanligt bolag därav finns inget företags swish nummer.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card card-blog">
                        <div class="card-image">
                            <a href="javascript:void(0)">
                                <img class="img" src="assets/img/Recycli/Swish/qr.png">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                Vi tar Swish!!!
                            </h4>
                            <div class="card-description">
                                För att betala, skanna QR koden ovan och ange ditt namn och din email i textrutan.
                            </div>
                            <hr />
                            <div class="card-footer">
                                <div class="author">
                                    <a href="javascript:void(0)">
                                       <img src="assets/img/Recycli/logotyp-apple-icon.png" alt="..." class="avatar img-raised">
                                       <span>Recycli</span>
                                    </a>
                                </div>
                                <div class="stats">
                                    <i class="nc-icon nc-money-coins" aria-hidden="true"></i> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" data-background="image" style="background-image: url('assets/img/Recycli/Vellinge.jpg')">
                        <div class="card-body">
                            <a href="javascript:void(0)">
                                <h3 class="card-title">Verksamhetsområde</h3>
                            </a>
                            <p class="card-description">
                                Just nu är vårt verksamhetshetsområde primärt Vellinge kommun. Detta kan komma till att ändras i framtiden om vi eventuellt bestämmer oss för att fortsätta med denna verksamheten efter UF-perioden.
                            </p>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card" data-background="color" data-color="orange">
                        <div class="card-body">
                            <div class="author">
                                <a href="javascript:void(0)">
                                   <img src="assets/img/Recycli/logotyp-apple-icon.png" alt="..." class="avatar img-raised">
                                   <span>Recycli</span>
                                </a>
                            </div>
                            <span class="category-social pull-right">
                                <i class="fa fa-quote-right"></i>
                            </span>
                            <div class="clearfix"></div>
                            <p class="card-description">
                                "Vi kan inte göra detta individuellt. Vi behöver jobba tillsammans för att nå mot ett gemensamt mål som gynnar oss alla. Att återvinna är ett bra steg i rätt riktning för att rädda vår planet!"
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body text-center">
                            <span class="category-social text-info pull-right">
                                <i class="fa fa-facebook"></i>
                            </span>
                            <div class="clearfix"></div>
                            <div class="author">
                                <a href="javascript:void(0)">
                                   <img src="assets/img/Recycli/logotyp-apple-icon.png" alt="..." class="avatar-big img-raised border-gray">
                                </a>
                                <h5 class="card-title">Recycli</h5>
                                <p class="category"><a href="https://www.facebook.com/Recycliuf" class="text-danger">@Recycliuf</a></p>
                            </div>
                            <p class="card-description">
                                Följ oss på facebook för att få tillgång till nyheter angående vår verksamhet. Du kan även ta del av olika erbjudande som vid vissa tillfälle kommer finnas tillgängliga
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <a href="javascript:void(0)">
                                <img class="img" src="assets/img/Recycli/alternative-energy-1042411_1920.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <label class="label label-warning">Hållbar framtid?</label>
                            <h5 class="card-title">
                                En hållbar framtid är en bra framtid
                            </h5>
                            <hr />
                            <div class="card-footer">
                                <div class="author">
                                    <a href="javascript:void(0)">
                                       <img src="assets/img/Recycli/logotyp-apple-icon.png" alt="..." class="avatar img-raised">
                                       <span>Recycli</span>
                                    </a>
                                </div>
                               <div class="stats">
                                    <i class="fa fa-heart" aria-hidden="true"></i> 5.3k
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer class="footer section-dark">
<div class="container">
<div class="row">
    <nav class="footer-nav">
        <ul>
            <li><a [routerLink]="['/home']">Recycli</a></li>
        </ul>
    </nav>
    <div class="credits ml-auto">
        <span class="copyright">
            &copy; {{data | date: 'yyyy'}},
            Recycli 
        </span>
    </div>
</div>
</div>
</footer>
