<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/Recycli/pile-1868894_1920.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="card card-recycli-gray">
                        <h3>Boka upphämtning</h3>
                        <form class="register-form" (ngSubmit)="onSubmit(FormData)" #FormData="ngForm">
                            
                            <label>Namn</label>
                            <input id="Name" name="Name" type="Name" class="form-control no-border" placeholder="Namn" [(ngModel)]="newpickup.Name">
                            
                            <label>Adress</label>
                            <input id="Address1" name="Address1" type="Address1" class="form-control no-border" placeholder="Address" [(ngModel)]="newpickup.Address1">
                            
                            <label> </label>
                            <input id="Address2" name="Address2" type="Address2" class="form-control no-border" placeholder="Address" [(ngModel)]="newpickup.Address2">
                            
                            <label>Postnummer</label>
                            <input id="Zip" name="Zip" type="Zip" class="form-control no-border" placeholder="Postnummer" [(ngModel)]="newpickup.Zip">
                            
                            <label>Ort</label>
                            <input id="City" name="City" type="City" class="form-control no-border" placeholder="Stad" [(ngModel)]="newpickup.City">
                            
                            <label>Telefon</label>
                            <input id="Phone" name="Phone" type="Phone" class="form-control no-border" placeholder="Telefonnummer" [(ngModel)]="newpickup.Phone">

                            <label>Instruktion</label>
                            <input id="Instruction" name="Instruction" type="Instruction" class="form-control no-border" placeholder="Instruktioner" [(ngModel)]="newpickup.Instruction">




                            <button type="submit" class="btn btn-recycli btn-block btn-round">Spara</button>

                        </form>
                        <br>

                        <div *ngIf="loginFailed" class="alert alert-danger fade show" role="alert">
                            <strong>Inloggning misslyckad</strong><br>
                            {{errorMessage}}
                        </div>

                    </div>
                </div>
            </div>
            <div class="demo-footer text-center">
                <h6>&copy; {{data | date: 'yyyy'}}, Recycli</h6>
            </div>
        </div>
    </div>
</div>

<footer class="footer section-dark">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a [routerLink]="['/home']">Recycli</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    &copy; {{data | date: 'yyyy'}},
                    Recycli 
                </span>
            </div>
        </div>
    </div>
</footer>